<footer>
    <div class="footer-container">
        <div class="social-links">
            <a class="social-link" href="https://www.facebook.com/nasreen.buchan" target="_blank">
                <i class="fa-brands fa-square-facebook fa-2xl mr-2"></i> Find me on Facebook
            </a>
        </div>
    </div>
</footer>