<header>
    <div class="header-container">
        <div class="logo">
            <a href="/">
                <img class="logo-image" src="/assets/img/nas-logo-white.png" />
            </a>
        </div>
        <div class="telephone hidden md:block">
            <a href="tel:07745 406600"> 07745 406600 </a>
        </div>
        <div class="nav-toggle md:hidden">
            <button id="js-nav-toggle" class="flex items-center">
                <span class="mr-2 text-lg uppercase">Menu</span>
                <i class="fa-solid fa-bars fa-lg"></i>
            </button>
        </div>
    </div>
</header>

<nav>
    <div class="nav-container">
        {% set navPages = collections.all | eleventyNavigation %}
        <ul class="list-reset lg:flex flex-1 items-center">
            {%- for entry in navPages %}
            <li class="mr-4 {% if entry.url == page.url %}active underline{% endif %}">
                <a href="{{ entry.url }}">{{ entry.title }}</a>
            </li>
            {%- endfor %}
        </ul>
    </div>
</nav>
