<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Nas Fitness | Nasreen Buchan Personal Fitness Trainer in Drayton Portsmouth Hampshire</title>

        <meta name="author" content="Nasreen Buchan">
        <meta name="keywords" content="keywords,here">
        <meta name="description" content="description here">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,italic,700italic">
        <link rel="stylesheet" href="{{'/css/app.css' | url }}">
    </head>
    <body class="bg-gray-200 font-sans leading-normal tracking-normal">
        {% include "header.njk" %}

        <main id="content" class="bg-white pt-4 pb-8">
            <div class="container shadow-lg mx-auto">
                {{ content | safe }}
            </div>
        </main>

        {% include "footer.njk" %}
        <script src="{{ '/js/app.js' | url }}" defer></script>
    </body>
</html>