---
layout: "base.njk"
title: "Nas Fitness"
bodyClass: home
description: Nas Fitness

---

<h1 class="text-center mb-2">Theme style demo</h1>

<div class="palette-holder mb-4">
    <div class="palette palette1"></div>
    <div class="palette palette2"></div>
    <div class="palette palette3"></div>
    <div class="palette palette4"></div>
    <div class="palette palette5"></div>
</div>

<div class="example-container">
    <div class="page-title">
        <h2>Style Examples</h2>
    </div>
    <div class="page-content">
        <h3>Example Content Title</h3>
        <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam elementum mi ut ex laoreet euismod. Nulla facilisi.</p>
        <a class="button">Primary Button</a>
        <a class="button-alt">Alternate Button</a>
    </div>

    <div class="mid-panel">
        <h3 class="text-center">Panel section</h3>
        <p class="text-center w-96 mx-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam elementum mi ut ex laoreet euismod.</p>
    </div>

    <div class="inter-panel">
        <p class="text-center w-96 mx-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>

    <div class="mid-panel-alt">
        <h3 class="text-center ">Panel section</h3>
        <p class="text-center w-96 mx-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam elementum mi ut ex laoreet euismod.</p>
    </div>

</div>