---
layout: "base.njk"
title: "Nas Fitness"
bodyClass: home
description: Nas Fitness

eleventyNavigation:
    key: Home
    order: 1
---

<div class="bg-white shadow-md rounded p-8 my-4">
    <ul>
        <li>Pilates Classes</li>
        <li>Zumba Dance Classes</li>
        <li>Tai Chi for beginners</li>
        <li>1 to 1 Personal Training</li>
        <li>Weight Management</li>
        <li>Pilates Workshops - Small Equipment</li>
    </ul>
    <h3>I welcome exercise referrals from your health practitioner.</h3>
</div>

<div class="bg-white shadow-md rounded p-8 my-4">
    <h1 class="mb-4">Welcome to Fitnas Means Results</h1>
    <p class="mb-4">
        Hello my name is Nasreen and thank you for visiting my website. I am a level 4 fitness professional registered
        with REPS the UK's leading exercise body for fitness instructors. I have worked in the health and fitness
        industry for 15 years and qualified as a Personal Trainer in 2004. Since the age of 16 I naturally had a great
        enthusiasm learning about health and fitness topics. Whist bringing up my two young children I decided to gain
        my aerobics qualification which launched my career as a freelance instructor delivering various group exercise
        programmes. I also have a dance background in ballet, jazz, tap and bollywood.
    </p>

    <p class="mb-4">
        My Pilates qualification has gained me additional skills to help clients improve their core, posture and
        flexibility and improve their overall well -being. I get great job satisfaction helping people achieve their
        health and fitness goals.
    </p>

    <p class="mb-4">
        My GP exercise referral and British Association Cardiac Rehab Phase IV Instructor qualifications enable me to
        deliver safe exercise programmes for individuals with diabetes, arthritis, asthma and stable heart conditions.
    </p>

    <p class="mb-4">
        Please click the contact tab above for enquiries or click the appropriate tab above for class timetables. Please
        check the class & course info for cancellations, new classes, course dates or future Pilates workshops. Classes
        may run on a skeleton basis over half terms and Summer Holidays (please check the class & course info).
    </p>
</div>

<div class="bg-white shadow-md rounded p-8 my-4">
    <h2>My Qualifications</h2>
    <ul>
        <li>British Association Cardiac Rehab level 4</li>
        <li>GP Exercise Referral</li>
        <li>Personal training diploma</li>
        <li>Pre & post natal diploma</li>
        <li>Mat Pilates diploma</li>
        <li>Pilates small equipment</li>
        <li>Exercise for older population</li>
        <li>Nutrition & weight management</li>
        <li>Health related exercise for children</li>
        <li>Sports conditioning</li>
        <li>Anatomy & physiology</li>
        <li>Zumba Dance</li>
        <li>Circuits, aquacise and aerobics</li>
        <li>Resistance and Core Training</li>
        <li>Insured for adults and children</li>
        <li>First Aid</li>
    </ul>
</div>

<div class="bg-white shadow-md rounded p-8 my-4">
    <h2>A discount is offered if a participant wishes to attend two classes weekly.</h2>
    <ul>
        <li>Two Pilates classes fees discount £14.</li>
        <li>Tai Chi & Pilates fees discount £6.</li>
        <li>Pilates & (Zumba) Cardio dance fees discount £6.</li>
        <li>Tai Chi & (Zumba) Cardio dance fees discount £6.</li>
        <li>Please note if away on holiday no credit offered.</li>
        <li>Catch up classes for missed classes are offered within over 6 week paid block.</li>
    </ul>
</div>

<div class="bg-white shadow-md rounded p-8 my-4">
    <h2>My Mission Statement</h2>
    <p>To educate, motivate and help individuals maintain a fitter, healthier lifestyle FOREVER!</p>
</div>

<p>Bedhampton Drayton Havant Farlington Portchester Widley Waterlooville Purbrook Cosham in Hampshire</p>
